{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>JS Game</title>
</head>
<body>
    <div class="container">
        <div id="pista"></div>
        <div class="container__contenido">
            <div class="container__informaciones">
                <div class="container__texto">
                    <h1>Inicio</h1>
                    <h2>Instrucciones</h2>
                    <p class="">
                        Adivina el numero secreto en el menor tiempo posible, el 
                        contador inicia cuando clickeas "juego nuevo", en el ultimo intento 
                        una pista se revela en la pantalla, busca con atención!!. <br>
                        Juega las veces que quieras y lucha por mejorar tus tiempos para llegar al primer lugar.
                    </p>
                    <br>
                    <h2>Sobre el proyecto</h2>
                    <p class="">
                        Esta es una version del proyecto en el curso de javascript de alura, 
                        tiene algunas modificaciones con el objetivon de volverlo más entretenido 
                        y más competitivo, y fue creado con la intencion de poner en practica 
                        lo aprendido.
                    </p>
                    <br>
                    <h2>Echa un vistazo al repositorio</h2>
                    <p class=""><a id="link-repo" href="https://github.com/Roscow/2035-logica-programacion-2">https://github.com/Roscow/2035-logica-programacion-2</a></p>
                    <br>
                    <h2>Sigueme en Linkedin</h2>
                    <p class=""><a href="#">linkedin.com...</a></p>
                    <br>
                    <h2>Quieres ver el proceso de creación??</h2>
                    <p class=""><a href="#">youtube.com...</a></p>
                    
                </div>
                <nav>
                    <a href="{% url 'inicio' %}">Inicio</a>
                    <a href="{% url 'juega' %}">Juega</a>
                    <a href="{% url 'puntuaciones' %}">Puntuaciones</a>
                </nav>
            </div>
            <img src="{% static 'img/ia.png' %}" alt="Una persona mirando a la izquierda" class="container__imagen-persona" />
        </div>
    </div>
</body>

</html>