{% extends 'alura_game_app/base.html'  %}
{% load static %}

                {% block contenido %}
                <div class="container__texto">
                    <h1>RANKING</h1>
                    <p class="texto__parrafo">
                        <div class="table_container"> 
                            <table id="tabla_puntuaciones">
                                <tbody>
                                    {% for j in listaDiccionario %}
                                        <tr {% if forloop.counter <= 3 %} class="podio" {% endif %} >
                                            <td >
                                              {% if forloop.counter == 1 %}
                                                &#127942; <!-- Emoji de medalla de oro -->
                                              {% elif forloop.counter == 2 %}
                                                &#129352;
                                              {% elif forloop.counter == 3 %}
                                                &#129353;
                                              {% else %}
                                                {{ forloop.counter }}
                                              {% endif %}
                                            </td>
                                            <td>{{ j.jugador.nombre|title }}</td>
                                            <td>{{ j.tiempo_formateado }}</td>
                                            <td>{{ j.jugador.pais.codigo_bandera|safe }} </td>
                                        </tr>
                                    {% endfor %}   
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="bmc-container">
                          <p style="font-weight: 550; font-size: 10px;">te interesa apoyar el proyecto?</p>
                          <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="nicolasvalq" data-color="#5F7FFF" data-emoji="🍕"  data-font="Cookie" data-text="Invitame una pizza" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00"></script>
                      </div>
                    </p>
                </div>
                {% endblock %}
               
