{% extends 'alura_game_app/base.html'  %}
{% load static %}

                {% block contenido %}
                <div class="container__texto">
                    <h1>RANKING</h1>
                    <p class="texto__parrafo">
                        <div class="table_container"> 
                            <table id="tabla_puntuaciones">
                                <tbody>
                                    {% for j in listaDiccionario %}
                                        <tr {% if forloop.counter <= 3 %} class="podio" {% endif %} >
                                            <td >
                                              {% if forloop.counter == 1 %}
                                                &#127942; <!-- Emoji de medalla de oro -->
                                              {% elif forloop.counter == 2 %}
                                                &#129352;
                                              {% elif forloop.counter == 3 %}
                                                &#129353;
                                              {% else %}
                                                {{ forloop.counter }}
                                              {% endif %}
                                            </td>
                                            <td>{{ j.jugador.nombre|title }}</td>
                                            <td>{{ j.tiempo_formateado }}</td>
                                            <td>{{ j.jugador.pais.codigo_bandera|safe }} </td>
                                        </tr>
                                        
                                    {% endfor %}   
                                </tbody>
                            </table>
                        </div>
                       

                    </p>
                </div>
                {% endblock %}
               
