{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>JS Game</title>
</head>

<body>

    <div class="container">
        <div id="pista"></div>
        <div class="container__contenido">
            <div class="container__informaciones">
                <div class="container__texto">
                    <h1>Puntuaciones</h1>
                    <p class="texto__parrafo">
                        <div class="table_container"> 
                            <table id="tabla_puntuaciones">
                                <tbody>
                                    <tr>
                                        <td>&#127942;</td>
                                        <td>Juanito Perez</td>
                                        <td>01:00</td>
                                        <td>&#x1F1EA;&#x1F1F8;</td>
                                    </tr>
                                    <tr>
                                        <td>&#129352;</td>
                                        <td>Marcelo Algo</td>
                                        <td>01:30</td>
                                        <td>&#x1F1E8;&#x1F1F1;</td>
                                    </tr>
                                    <tr>
                                        <td>&#129353;</td>
                                        <td>Nico Valdes</td>
                                        <td>01:35</td>
                                        <td>&#x1F1E7;&#x1F1F7;</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                    </tr>
    
    
                                </tbody>
                            </table>
                        </div>
                       

                    </p>
                </div>
               
                <nav>
                    <a href="{% url 'inicio' %}">Inicio</a>
                    <a href="{% url 'juega' %}">Juega</a>
                    <a href="{% url 'puntuaciones' %}">Puntuaciones</a>
                </nav>
            </div>
            <img src="{% static 'img/ia.png' %}" alt="Una persona mirando a la izquierda" class="container__imagen-persona" />
        </div>
    </div>
</body>

</html>